<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/images/bg-01.jpg');">
  <h2 class="ltext-105 cl0 txt-center">
   Thank You
  </h2>
</section>
<section class="bg0 p-t-75 p-b-120">
  <div class="container">
    <div class="row p-b-148">
        <div class="col-md-12 text-center">
          <span class="icon-check_circle display-3 text-success"></span>
          <h2 class="display-3 text-black">Thank you!</h2>
          <p class="lead mb-5">You order was successfuly completed.</p>
          <div class="form-group row">
            <div class="col-lg-5 button">
              <button type="submit" class="btn btn-dark btn-lg btn-block" routerLink="/shop" >Back to Shop</button>
            </div>
          </div>
         
        </div>
  </div>
  </div>
</section>	
