h5 {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
    font-size: 25px;
    font-family: "Arial Black", Arial, Verdana, sans-serif;
  }
  .count
  {
    font-size: 26px;
    color: black;
  }